USE [master]
GO
/****** Object:  Database [DbKhoaHocTrucTuyen]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE DATABASE [DbKhoaHocTrucTuyen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbKhoaHocTrucTuyen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbKhoaHocTrucTuyen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbKhoaHocTrucTuyen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbKhoaHocTrucTuyen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbKhoaHocTrucTuyen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbKhoaHocTrucTuyen]
GO
USE [DbKhoaHocTrucTuyen]
GO
/****** Object:  Sequence [dbo].[KhoaHocSequence]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE SEQUENCE [dbo].[KhoaHocSequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivateCourses]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivateCourses](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[CourseId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ActivateCourses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[EntityType] [nvarchar](max) NULL,
	[EntityId] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnnouncementUsers]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnouncementUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[HasRead] [bit] NULL,
	[AnnouncementId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AnnouncementUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Dob] [datetime2](7) NOT NULL,
	[Biography] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommandInFunctions]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommandInFunctions](
	[CommandId] [nvarchar](450) NOT NULL,
	[FunctionId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_CommandInFunctions] PRIMARY KEY CLUSTERED 
(
	[CommandId] ASC,
	[FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commands]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commands](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Commands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[EntityId] [int] NOT NULL,
	[EntityType] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ReplyId] [int] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Price] [bigint] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[CategoryId] [int] NULL,
	[CreatedUserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBacks]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NULL,
 CONSTRAINT [PK__Feedback__3214EC0776104779] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functions](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[ParentId] [nvarchar](max) NULL,
	[Icon] [varchar](100) NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[VideoPath] [nvarchar](max) NOT NULL,
	[Attachment] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Times] [nvarchar](max) NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderId] [int] NOT NULL,
	[ActiveCourseId] [uniqueidentifier] NOT NULL,
	[Price] [bigint] NULL,
	[PromotionPrice] [bigint] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ActiveCourseId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Total] [bigint] NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[FunctionId] [nvarchar](450) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[CommandId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[CommandId] ASC,
	[FunctionId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionInCourses]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionInCourses](
	[PromotionId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_PromotionInCourses] PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime2](7) NOT NULL,
	[ToDate] [datetime2](7) NOT NULL,
	[ApplyForAll] [bit] NOT NULL,
	[DiscountPercent] [int] NULL,
	[DiscountAmount] [bigint] NULL,
	[Status] [bit] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201126023139_initialize', N'3.1.9')
GO
INSERT [dbo].[ActivateCourses] ([Id], [UserId], [CourseId], [Status]) VALUES (N'e0011b41-1f3f-4f4e-9740-1498e7a3c9cd', N'b26bfa57-0085-4338-a612-5acba6c4586e', 32, 1)
INSERT [dbo].[ActivateCourses] ([Id], [UserId], [CourseId], [Status]) VALUES (N'73844cab-f6f7-42a5-aeb0-17919013aeb2', N'b26bfa57-0085-4338-a612-5acba6c4586e', 65, 1)
INSERT [dbo].[ActivateCourses] ([Id], [UserId], [CourseId], [Status]) VALUES (N'df2896ef-8f51-4491-b0a1-2c17a3fe3811', N'b26bfa57-0085-4338-a612-5acba6c4586e', 3, 1)
GO
INSERT [dbo].[Announcements] ([Id], [Title], [Content], [Image], [EntityType], [EntityId], [UserId], [CreationTime], [LastModificationTime], [Status]) VALUES (N'183b4a43-4c4f-4527-a1c8-08fb8ec8d523', N'Thông báo đơn hàng', N'Đơn hàng của bạn đã được giao', N'images/defaultAvatar.png', N'orders', N'12', N'b26bfa57-0085-4338-a612-5acba6c4586e', CAST(N'2021-01-14T13:01:34.1742945' AS DateTime2), NULL, 1)
INSERT [dbo].[Announcements] ([Id], [Title], [Content], [Image], [EntityType], [EntityId], [UserId], [CreationTime], [LastModificationTime], [Status]) VALUES (N'931892ed-2a5d-44f0-bc0b-0c73ba5c97f2', N'Event 321', N'Giam Gia', N'images/defaultAvatar.png', N'promotion', N'5', N'b26bfa57-0085-4338-a612-5acba6c4586e', CAST(N'2021-01-14T11:26:25.9759351' AS DateTime2), NULL, 1)
INSERT [dbo].[Announcements] ([Id], [Title], [Content], [Image], [EntityType], [EntityId], [UserId], [CreationTime], [LastModificationTime], [Status]) VALUES (N'682eac88-bc6c-4914-a0ae-0cca33e2c386', N'Thông báo đơn hàng', N'Đơn hàng của bạn đã được giao', N'images/defaultAvatar.png', N'orders', N'9', N'b26bfa57-0085-4338-a612-5acba6c4586e', CAST(N'2021-01-13T22:37:34.7262031' AS DateTime2), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[AnnouncementUsers] ON 

INSERT [dbo].[AnnouncementUsers] ([Id], [UserId], [HasRead], [AnnouncementId]) VALUES (50, N'84f9655a-01bb-478e-a200-25ca5489948e', 0, N'a26e81ac-2684-49d1-907a-b2d6800fda6e')
INSERT [dbo].[AnnouncementUsers] ([Id], [UserId], [HasRead], [AnnouncementId]) VALUES (51, N'c397abed-4dad-4764-9850-27c274db055a', 1, N'a26e81ac-2684-49d1-907a-b2d6800fda6e')
INSERT [dbo].[AnnouncementUsers] ([Id], [UserId], [HasRead], [AnnouncementId]) VALUES (52, N'b26bfa57-0085-4338-a612-5acba6c4586e', 1, N'a26e81ac-2684-49d1-907a-b2d6800fda6e')
SET IDENTITY_INSERT [dbo].[AnnouncementUsers] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'391f95fd-b3f8-4c85-95fd-334bcb31de37', N'Admin', N'ADMIN', N'0fb6d1fc-3405-4b57-bc71-1385504a3e33')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c41a478e-0323-4243-ae99-85909be34de4', N'Teacher', N'TEACHER', N'485435a1-7d31-4254-8bf1-d92ec2728ee2')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'6fcf54b2-b8f0-4864-a358-9a0b072fc035', N'Student', N'STUDENT', N'27f90fe0-6b77-46fa-9dbd-9e47aeab8982')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b26bfa57-0085-4338-a612-5acba6c4586e', N'391f95fd-b3f8-4c85-95fd-334bcb31de37')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f2cd918e-053a-4b2e-84b0-e5bcf9b804a8', N'c41a478e-0323-4243-ae99-85909be34de4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c397abed-4dad-4764-9850-27c274db055a', N'6fcf54b2-b8f0-4864-a358-9a0b072fc035')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [SortOrder], [ParentId]) VALUES (1, N'Ngoại Ngữ', 1, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [SortOrder], [ParentId]) VALUES (2, N'Marketing', 2, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [SortOrder], [ParentId]) VALUES (3, N'Tin Học Văn Phòng', 3, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[CommandInFunctions] ([CommandId], [FunctionId]) VALUES (N'Create', N'Categories')
INSERT [dbo].[CommandInFunctions] ([CommandId], [FunctionId]) VALUES (N'Delete', N'Categories')
INSERT [dbo].[CommandInFunctions] ([CommandId], [FunctionId]) VALUES (N'Update', N'Categories')
GO
INSERT [dbo].[Commands] ([Id], [Name]) VALUES (N'Approve', N'Duyệt')
INSERT [dbo].[Commands] ([Id], [Name]) VALUES (N'Create', N'Thêm')
INSERT [dbo].[Commands] ([Id], [Name]) VALUES (N'Delete', N'Xoá')
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Content], [EntityId], [EntityType], [UserId], [ReplyId], [CreationTime], [LastModificationTime]) VALUES (8, N'gfdgdfh', 7, N'courses', N'c397abed-4dad-4764-9850-27c274db055a', NULL, CAST(N'2021-01-14T09:35:01.3489653' AS DateTime2), NULL)
INSERT [dbo].[Comments] ([Id], [Content], [EntityId], [EntityType], [UserId], [ReplyId], [CreationTime], [LastModificationTime]) VALUES (9, N'dhdfh', 7, N'courses', N'c397abed-4dad-4764-9850-27c274db055a', NULL, CAST(N'2021-01-14T09:35:05.0266812' AS DateTime2), NULL)
INSERT [dbo].[Comments] ([Id], [Content], [EntityId], [EntityType], [UserId], [ReplyId], [CreationTime], [LastModificationTime]) VALUES (10, N'dfhdfh', 7, N'courses', N'c397abed-4dad-4764-9850-27c274db055a', NULL, CAST(N'2021-01-14T09:35:09.0104111' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedBacks] ON 

INSERT [dbo].[FeedBacks] ([Id], [Name], [Email], [PhoneNumber], [Message], [CreationTime], [LastModificationTime]) VALUES (1, N'Tran Bao Long', N'long0072017@gmail.com', N'0111777888', N'sadfgsdgsdgsdg', CAST(N'2021-01-14T00:48:51.8997667' AS DateTime2), NULL)
INSERT [dbo].[FeedBacks] ([Id], [Name], [Email], [PhoneNumber], [Message], [CreationTime], [LastModificationTime]) VALUES (2, N'Tran Bao Long test', N'long0072017@gmail.com', N'0666777888', N'dfsghdfhdfhdfh', CAST(N'2021-01-14T13:13:07.9162038' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[FeedBacks] OFF
GO
INSERT [dbo].[Functions] ([Id], [Name], [Url], [SortOrder], [ParentId], [Icon]) VALUES (N'Categories', N'Danh mục', N'/products/categories', 1, N'Products', N'fa-edit')
INSERT [dbo].[Functions] ([Id], [Name], [Url], [SortOrder], [ParentId], [Icon]) VALUES (N'Courses', N'Khóa Học', N'/products/courses', 2, N'Products', N'fa-edit')
INSERT [dbo].[Functions] ([Id], [Name], [Url], [SortOrder], [ParentId], [Icon]) VALUES (N'DashBoard', N'Trang Chủ', N'/dashboard', 1, NULL, N'fa-dashboard')
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([Id], [Name], [VideoPath], [Attachment], [SortOrder], [Status], [CourseId], [Times]) VALUES (1, N'Bài 0 Chia sẽ kinh nghiệm tìm hiểu code', N'videos/Bai0_Chia_se_kinh_nghiem_tim_hieu_code.MP4', N'', 1, 1, 7, N'00:14:55')
INSERT [dbo].[Lessons] ([Id], [Name], [VideoPath], [Attachment], [SortOrder], [Status], [CourseId], [Times]) VALUES (2, N'Bài 1_1 Cấu hình sublimText cho React Native', N'videos/Bai1_1_Cau_hinh_sublimText_Cho_React_Naitve_.MP4', N'', 2, 1, 7, N'00:06:58')
INSERT [dbo].[Lessons] ([Id], [Name], [VideoPath], [Attachment], [SortOrder], [Status], [CourseId], [Times]) VALUES (3, N'Bài 1_2 Cách Xuất log và gói code javascript', N'videos/Bai1_2_cach_xuat log_va_goi_code_javascript.MP4', N'', 3, 1, 7, N'00:06:14')
GO
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
INSERT [dbo].[OrderDetails] ([OrderId], [ActiveCourseId], [Price], [PromotionPrice]) VALUES (9, N'e0011b41-1f3f-4f4e-9740-1498e7a3c9cd', 449000, NULL)
INSERT [dbo].[OrderDetails] ([OrderId], [ActiveCourseId], [Price], [PromotionPrice]) VALUES (6, N'73844cab-f6f7-42a5-aeb0-17919013aeb2', 699000, NULL)
INSERT [dbo].[OrderDetails] ([OrderId], [ActiveCourseId], [Price], [PromotionPrice]) VALUES (11, N'df2896ef-8f51-4491-b0a1-2c17a3fe3811', 998000, 499000)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [PaymentMethod], [UserId], [Total], [Name], [Email], [Address], [PhoneNumber], [Message], [CreationTime], [LastModificationTime], [Status]) VALUES (1, 0, NULL, 199000, N'hfgj', N'a@gmail.com', N'sgdfghdfhdf', N'152352523', N'fdhdfhdfgh', CAST(N'2021-01-12T12:55:46.3750593' AS DateTime2), NULL, 0)
INSERT [dbo].[Orders] ([Id], [PaymentMethod], [UserId], [Total], [Name], [Email], [Address], [PhoneNumber], [Message], [CreationTime], [LastModificationTime], [Status]) VALUES (2, 1, N'b26bfa57-0085-4338-a612-5acba6c4586e', 349000, N'Trần Bảo Long', N'lockhanhlong007@gmail.com', NULL, N'0965453699', N'Thanh toán VNpay', CAST(N'2021-01-12T13:11:13.6294275' AS DateTime2), CAST(N'2021-01-12T13:11:58.2393329' AS DateTime2), 4)
INSERT [dbo].[Orders] ([Id], [PaymentMethod], [UserId], [Total], [Name], [Email], [Address], [PhoneNumber], [Message], [CreationTime], [LastModificationTime], [Status]) VALUES (3, 0, NULL, 199000, N'sgdsdgsd', N'a@gmail.com', N'sdgsdfgdfg', N'14124124', N'dhdfhdfh', CAST(N'2021-01-12T13:16:48.6477856' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Permissions] ([FunctionId], [RoleId], [CommandId]) VALUES (N'Courses', N'391f95fd-b3f8-4c85-95fd-334bcb31de37', N'Approve')
INSERT [dbo].[Permissions] ([FunctionId], [RoleId], [CommandId]) VALUES (N'Products', N'391f95fd-b3f8-4c85-95fd-334bcb31de37', N'Approve')
INSERT [dbo].[Permissions] ([FunctionId], [RoleId], [CommandId]) VALUES (N'Categories', N'391f95fd-b3f8-4c85-95fd-334bcb31de37', N'Create')
GO
INSERT [dbo].[PromotionInCourses] ([PromotionId], [CourseId]) VALUES (1, 1)
INSERT [dbo].[PromotionInCourses] ([PromotionId], [CourseId]) VALUES (5, 1)
INSERT [dbo].[PromotionInCourses] ([PromotionId], [CourseId]) VALUES (1, 2)
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [FromDate], [ToDate], [ApplyForAll], [DiscountPercent], [DiscountAmount], [Status], [Name], [Content]) VALUES (1, CAST(N'2020-12-13T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-14T00:00:00.0000000' AS DateTime2), 0, 50, NULL, 1, N'Event 1', N'Giam Gia 50%')
INSERT [dbo].[Promotions] ([Id], [FromDate], [ToDate], [ApplyForAll], [DiscountPercent], [DiscountAmount], [Status], [Name], [Content]) VALUES (4, CAST(N'2020-12-01T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-14T00:00:00.0000000' AS DateTime2), 0, NULL, 50000, 1, N'Event 123', N'Giam Gia')
INSERT [dbo].[Promotions] ([Id], [FromDate], [ToDate], [ApplyForAll], [DiscountPercent], [DiscountAmount], [Status], [Name], [Content]) VALUES (5, CAST(N'2019-12-01T00:00:00.0000000' AS DateTime2), CAST(N'2019-12-14T00:00:00.0000000' AS DateTime2), 0, NULL, 40000, 1, N'Event 321', N'Giam Gia')
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
/****** Object:  Index [IX_ActivateCourses_CourseId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActivateCourses_CourseId] ON [dbo].[ActivateCourses]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivateCourses_UserId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActivateCourses_UserId] ON [dbo].[ActivateCourses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Announcements_UserId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Announcements_UserId] ON [dbo].[Announcements]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnnouncementUsers_AnnouncementId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnnouncementUsers_AnnouncementId] ON [dbo].[AnnouncementUsers]
(
	[AnnouncementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CommandInFunctions_FunctionId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommandInFunctions_FunctionId] ON [dbo].[CommandInFunctions]
(
	[FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_UserId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_CategoryId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_CategoryId] ON [dbo].[Courses]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_CourseId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_CourseId] ON [dbo].[Lessons]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Permissions_FunctionId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Permissions_FunctionId] ON [dbo].[Permissions]
(
	[FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Permissions_RoleId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Permissions_RoleId] ON [dbo].[Permissions]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromotionInCourses_CourseId]    Script Date: 1/14/2021 3:16:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromotionInCourses_CourseId] ON [dbo].[PromotionInCourses]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [DF__Courses__Price__5CD6CB2B]  DEFAULT (CONVERT([bigint],(0))) FOR [Price]
GO
ALTER TABLE [dbo].[ActivateCourses]  WITH CHECK ADD  CONSTRAINT [FK_ActivateCourses_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ActivateCourses] CHECK CONSTRAINT [FK_ActivateCourses_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ActivateCourses]  WITH CHECK ADD  CONSTRAINT [FK_ActivateCourses_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActivateCourses] CHECK CONSTRAINT [FK_ActivateCourses_Courses_CourseId]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_Announcements_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_Announcements_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AnnouncementUsers]  WITH CHECK ADD  CONSTRAINT [FK_AnnouncementUsers_Announcements_AnnouncementId] FOREIGN KEY([AnnouncementId])
REFERENCES [dbo].[Announcements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnnouncementUsers] CHECK CONSTRAINT [FK_AnnouncementUsers_Announcements_AnnouncementId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CommandInFunctions]  WITH CHECK ADD  CONSTRAINT [FK_CommandInFunctions_Commands_CommandId] FOREIGN KEY([CommandId])
REFERENCES [dbo].[Commands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommandInFunctions] CHECK CONSTRAINT [FK_CommandInFunctions_Commands_CommandId]
GO
ALTER TABLE [dbo].[CommandInFunctions]  WITH CHECK ADD  CONSTRAINT [FK_CommandInFunctions_Functions_FunctionId] FOREIGN KEY([FunctionId])
REFERENCES [dbo].[Functions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommandInFunctions] CHECK CONSTRAINT [FK_CommandInFunctions_Functions_FunctionId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_Courses_CourseId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_ActivateCourses_ActiveCourseId] FOREIGN KEY([ActiveCourseId])
REFERENCES [dbo].[ActivateCourses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_ActivateCourses_ActiveCourseId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_Permissions_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_Commands_CommandId] FOREIGN KEY([CommandId])
REFERENCES [dbo].[Commands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_Permissions_Commands_CommandId]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_Functions_FunctionId] FOREIGN KEY([FunctionId])
REFERENCES [dbo].[Functions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_Permissions_Functions_FunctionId]
GO
ALTER TABLE [dbo].[PromotionInCourses]  WITH CHECK ADD  CONSTRAINT [FK_PromotionInCourses_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionInCourses] CHECK CONSTRAINT [FK_PromotionInCourses_Courses_CourseId]
GO
ALTER TABLE [dbo].[PromotionInCourses]  WITH CHECK ADD  CONSTRAINT [FK_PromotionInCourses_Promotions_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionInCourses] CHECK CONSTRAINT [FK_PromotionInCourses_Promotions_PromotionId]
GO
/****** Object:  StoredProcedure [dbo].[CourseDetail]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CourseDetail]
@id int
as	
begin
select Id, Name, CategoryId, Status, Image, Content, Description, CreationTime, CreatedUserName, CategoryName, CreatedName, sum(Price) Price, sum(DiscountAmount) DiscountAmount,sum(DiscountPercent) DiscountPercent 
from (
select ct.Name as CategoryName,c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, u.Name as CreatedName, c.Price, 0 DiscountAmount,0 DiscountPercent
	from Courses c, Categories ct, AspNetUsers u
	where c.CategoryId = ct.Id and u.UserName = c.CreatedUserName
	union all
	select ct.Name as CategoryName,c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, u.Name as CreatedName, c.Price,IIF(p.DiscountAmount is null,0,p.DiscountAmount),IIF(p.DiscountPercent is null,0,p.DiscountPercent)
	from Courses c
	inner join Categories ct
	on c.CategoryId = ct.Id
	inner join AspNetUsers u
	on u.UserName = c.CreatedUserName
	inner join PromotionInCourses pc
	on pc.CourseId = c.Id
	inner join Promotions p
	on p.Id = pc.PromotionId
	where p.FromDate <= GETDATE() and  p.ToDate >= GETDATE()
	) result
	where Id = @id
	group by Id, Name, CategoryId, Status, Image, Content, Description, CategoryId, CreationTime, CategoryName, CreatedUserName, CreatedName
end
GO
/****** Object:  StoredProcedure [dbo].[GetCountSalesDaily]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[GetCountSalesDaily]
	@fromDate NVARCHAR(20),
	@toDate NVARCHAR(20)
AS
BEGIN
				select CAST(o.CreationTime AS DATE) as Date,
				c.Name,
				u.UserName,
				u.Email,
				u.Name,
				count(c.Name) as CountProducts,
				sum(IIF(od.PromotionPrice is null, od.Price,od.PromotionPrice)) as Revenue,
				sum(IIF(od.PromotionPrice is null, od.Price,od.PromotionPrice) * 30 / 100) as Profit
				from Orders o
				inner join OrderDetails od
				on o.Id = od.OrderId
				inner join ActivateCourses ac
				on ac.Id = od.ActiveCourseId
				inner join Courses c
				on c.Id = ac.CourseId
				inner join AspNetUsers u
				on c.CreatedUserName = u.UserName
				where o.Status = 4 and o.CreationTime <= cast(@toDate as date) 
				AND o.CreationTime >= cast(@fromDate as date)
				group by o.CreationTime, c.Name, u.UserName, u.Email, u.Name
				order by o.CreationTime
END
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueDaily]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetRevenueDaily]
	@fromDate NVARCHAR(20),
	@toDate NVARCHAR(20)
AS
BEGIN
				select CAST(o.CreationTime AS DATE) as Date,
				sum(IIF(od.PromotionPrice is null, od.Price,od.PromotionPrice)) as Revenue,
				sum(IIF(od.PromotionPrice is null, od.Price,od.PromotionPrice) * 30 / 100) as Profit
				from Orders o
				inner join OrderDetails od
				on o.Id = od.OrderId
				where o.Status = 4 and o.CreationTime <= cast(@toDate as date) 
				AND o.CreationTime >= cast(@fromDate as date)
				group by o.CreationTime
END
GO
/****** Object:  StoredProcedure [dbo].[HomeCategories]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[HomeCategories]
@categoryId int
as	
begin
select top 4 Id, Name, CategoryId, Status, Image, Content, Description, CategoryName, CreationTime, CreatedUserName, sum(Price) Price, sum(DiscountAmount) DiscountAmount,sum(DiscountPercent) DiscountPercent from (
select ct.Name as CategoryName, c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price, 0 DiscountAmount,0 DiscountPercent
	from Courses c, Categories ct
	where c.CategoryId = ct.Id and ct.ParentId = @categoryId
	union all
	select ct.Name as CategoryName, c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price,IIF(p.DiscountAmount is null,0,p.DiscountAmount),IIF(p.DiscountPercent is null,0,p.DiscountPercent)
	from Courses c
	inner join Categories ct
	on c.CategoryId = ct.Id and ct.ParentId = @categoryId
	inner join PromotionInCourses pc
	on pc.CourseId = c.Id
	inner join Promotions p
	on p.Id = pc.PromotionId
	where p.FromDate <= GETDATE() and  p.ToDate >= GETDATE()

	) result group by Id, Name, CategoryId, Status, Image, Content, Description, CategoryName, CategoryId, CreationTime, CreatedUserName
	order by CreationTime desc
end
GO
/****** Object:  StoredProcedure [dbo].[ListCourses]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ListCourses]
as
begin
SET NOCOUNT ON;
select Id, Name, CategoryId, Status, Image, Content, Description, CreationTime, CategoryName, CreatedUserName, sum(Price) Price, sum(DiscountAmount) DiscountAmount,sum(DiscountPercent) DiscountPercent 
from (
select ct.Name as CategoryName,c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price, 0 DiscountAmount,0 DiscountPercent
	from Courses c, Categories ct
	where c.CategoryId = ct.Id
	union all
	select ct.Name as CategoryName,c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price,IIF(p.DiscountAmount is null,0,p.DiscountAmount),IIF(p.DiscountPercent is null,0,p.DiscountPercent)
	from Courses c
	inner join Categories ct
	on c.CategoryId = ct.Id
	inner join PromotionInCourses pc
	on pc.CourseId = c.Id
	inner join Promotions p
	on p.Id = pc.PromotionId
	where p.FromDate <= GETDATE() and  p.ToDate >= GETDATE()
	) result
	group by Id, Name, CategoryId, Status, Image, Content, Description, CategoryId, CreationTime, CategoryName, CreatedUserName
end
GO
/****** Object:  StoredProcedure [dbo].[ListCoursesByCategoryId]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ListCoursesByCategoryId]
@categoryId int
as
begin
SET NOCOUNT ON;
select Id, Name, CategoryId, Status, Image, Content, Description, CreationTime, CategoryName, CreatedUserName, sum(Price) Price, sum(DiscountAmount) DiscountAmount,sum(DiscountPercent) DiscountPercent 
from (
select ct.Name as CategoryName,c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price, 0 DiscountAmount,0 DiscountPercent
	from Courses c, Categories ct
	where c.CategoryId = ct.Id and ct.Id = @categoryId
	union all
	select ct.Name as CategoryName,c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price,IIF(p.DiscountAmount is null,0,p.DiscountAmount),IIF(p.DiscountPercent is null,0,p.DiscountPercent)
	from Courses c
	inner join Categories ct
	on c.CategoryId = ct.Id and ct.Id = @categoryId
	inner join PromotionInCourses pc
	on pc.CourseId = c.Id
	inner join Promotions p
	on p.Id = pc.PromotionId
	where p.FromDate <= GETDATE() and  p.ToDate >= GETDATE()
	) result
	group by Id, Name, CategoryId, Status, Image, Content, Description, CategoryId, CreationTime, CategoryName, CreatedUserName
end
GO
/****** Object:  StoredProcedure [dbo].[ListCoursesByCategoryParentId]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ListCoursesByCategoryParentId]
@categoryId int
as
begin
SET NOCOUNT ON;
select Id, Name, CategoryId, Status, Image, Content, Description, CreationTime, CategoryName, CreatedUserName, sum(Price) Price, sum(DiscountAmount) DiscountAmount,sum(DiscountPercent) DiscountPercent 
from (
select ct.Name as CategoryName,c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price, 0 DiscountAmount,0 DiscountPercent
	from Courses c, Categories ct
	where c.CategoryId = ct.Id and ct.ParentId = @categoryId
	union all
	select ct.Name as CategoryName,c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price,IIF(p.DiscountAmount is null,0,p.DiscountAmount),IIF(p.DiscountPercent is null,0,p.DiscountPercent)
	from Courses c
	inner join Categories ct
	on c.CategoryId = ct.Id and ct.ParentId = @categoryId
	inner join PromotionInCourses pc
	on pc.CourseId = c.Id
	inner join Promotions p
	on p.Id = pc.PromotionId
	where p.FromDate <= GETDATE() and  p.ToDate >= GETDATE()
	) result
	group by Id, Name, CategoryId, Status, Image, Content, Description, CategoryId, CreationTime, CategoryName, CreatedUserName
end
GO
/****** Object:  StoredProcedure [dbo].[NewCourses]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[NewCourses]
as	
begin
select top 6 Id, Name, CategoryId, Status, Image, Content, Description, CategoryName, CreationTime, CreatedUserName, sum(Price) Price, sum(DiscountAmount) DiscountAmount,sum(DiscountPercent) DiscountPercent from (
select ct.Name as CategoryName, c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price, 0 DiscountAmount,0 DiscountPercent
	from Courses c, Categories ct
	where c.CategoryId = ct.Id
	union all
	select ct.Name as CategoryName, c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price,IIF(p.DiscountAmount is null,0,p.DiscountAmount),IIF(p.DiscountPercent is null,0,p.DiscountPercent)
	from Courses c
	inner join Categories ct
	on c.CategoryId = ct.Id
	inner join PromotionInCourses pc
	on pc.CourseId = c.Id
	inner join Promotions p
	on p.Id = pc.PromotionId
	where p.FromDate <= GETDATE() and  p.ToDate >= GETDATE()
	) result group by Id, Name, CategoryId, Status, Image, Content, Description, CategoryName, CategoryId, CreationTime, CreatedUserName
	order by CreationTime desc
end
GO
/****** Object:  StoredProcedure [dbo].[RelatedCourses]    Script Date: 1/14/2021 3:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RelatedCourses]
@categoryId int,
@courseId int
as	
begin
select top 6 Id, Name, CategoryId, Status, Image, Content, Description, CategoryName, CreationTime, CreatedUserName, sum(Price) Price, sum(DiscountAmount) DiscountAmount,sum(DiscountPercent) DiscountPercent from (
select ct.Name as CategoryName, c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price, 0 DiscountAmount,0 DiscountPercent
	from Courses c, Categories ct
	where c.CategoryId = ct.Id
	union all
	select ct.Name as CategoryName, c.Id, c.Name,c.CategoryId, c.Status, c.Image, c.Content, c.Description, c.CreationTime, c.CreatedUserName, c.Price,IIF(p.DiscountAmount is null,0,p.DiscountAmount),IIF(p.DiscountPercent is null,0,p.DiscountPercent)
	from Courses c
	inner join Categories ct
	on c.CategoryId = ct.Id
	inner join PromotionInCourses pc
	on pc.CourseId = c.Id
	inner join Promotions p
	on p.Id = pc.PromotionId
	where p.FromDate <= GETDATE() and  p.ToDate >= GETDATE()
	) result 
	where result.CategoryId = @categoryId and result.Id != @courseId
	group by Id, Name, CategoryId, Status, Image, Content, Description, CategoryName, CategoryId, CreationTime, CreatedUserName
	order by CreationTime desc
end
GO
USE [master]
GO
