<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Administration</a>
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i aria-hidden="true" class="fa fa-bars text-muted"></i>
    </button>
    <div class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1" style="margin: 0; font-size: 13px; font-weight: 600;">{{userName}}</h5>
                                <p class="small text-muted" style="margin: 0;"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last" style="font-size: 12px;margin: 0;">Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                    <li class="dropdown-divider"></li>
                    <a class="dropdown-item" href="javascript:void(0)" style="text-align: center; align-items: center;">
                        {{ 'View All' }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{userName}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Thông tin cá nhân' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Hòm thư' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Đổi mật khẩu' }}
                    </a>
                    <a (click)="signout()" [routerLink]="['/login']" class="dropdown-item">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Đăng xuất' }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>